* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #e5e5e5;
}

button {
  background-color: #a366ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}
